name: Continous Integration
on:
  push:
    branches: [ maisn ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:  
    - uses: actions/checkout@v1

    - name: Install Flutter
      uses: subosito/flutter-action@v1
      with:
        channel: 'stable'
        flutter-version: '2.2.x'

    - name: Install app dependencies
      run: flutter pub get

    - name: Test app
      run: flutter test --coverage